body {
   font-size: 25px;
    font-family: Times;
    height: 100%;

}

.search {
    z-index: 1;
    position: hidden;
    background-color: #b9d3c2;
    width:100%;
    
}

.search-field {
    width: 100%;
    padding: 5px;
}

ul {
    text-align: center;
    background: #b9d3c2;
    border: 1px solid darkgrey;
    overflow: auto;
    padding: 0px;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.box {
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.box:hover {
    background-color: #269abc;
    color: white;
}

.button {

cursor: pointer;
    
}

span.credits {
    background: url(Hamburger-Menu.svg);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;


}

.banner{
    padding: 0.5em;
    text-align: center;
    background-color: #b9d3c2;
}